#icons img{
    height: 50%;
    width: 13%;
    margin-top: 40px;
}
.component{
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
    color:rgb(0, 128, 130)
}
.aboutdicetext{
    margin-bottom: 10px;
}
